<div class="header">
  <div class="logo-header">
    <a routerLink="/">
      <img
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1920px-International_Pok%C3%A9mon_logo.svg.png"
        alt="Pokémon Logo"
      />
    </a>
  </div>
  <div class="menu-header">
    <ul class="menu">
      <li>
        <input
          type="text"
          placeholder="Buscar Pokémon"
          [(ngModel)]="pokemonName"
          (keyup.enter)="buscarPokemon()"
        />
      </li>
    </ul>
  </div>
</div>
